<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dicadut.soms.mapper.BridgeInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dicadut.soms.entity.BridgeInfo">
        <id column="id" property="id"/>
        <result column="stake_or_truss_number" property="stakeOrTrussNumber"/>
        <result column="line" property="line"/>
        <result column="code" property="code"/>
        <result column="main_or_approach" property="mainOrApproach"/>
        <result column="bridge_name" property="bridgeName"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <select id="selectCount" resultType="java.lang.Integer">
        select count(*)
        from system.t_dictionary;
    </select>

    <select id="selectNumberListByGenreLine" resultType="com.dicadut.soms.dto.StakeNumberDTO">
        SELECT b.`id`,b.stake_or_truss_number number
        FROM system.t_bridge_info b
        where b.line = #{line} AND main_or_approach=#{genre}
        group by b.id;
    </select>

    <select id="selectBridgeCompositionList" resultType="com.dicadut.soms.dto.BridgeCompositionDTO">
        SELECT DISTINCT co.id,co.`name`
        from system.t_bridge_info_component bc
                 INNER JOIN system.t_component c ON system.bc.component_id= c.id
                 INNER JOIN system.t_component co ON system.c.parent_id = co.id
        WHERE bc.bridge_info_id BETWEEN #{start} AND #{end}
        group by co.id;
    </select>

    <select id="selectComponentByBridgeComposition" resultType="com.dicadut.soms.dto.ComponentDTO">
        SELECT DISTINCT c.id,c.`name`
        from system.t_bridge_info_component bc
                 INNER JOIN system.t_component c ON system.bc.component_id= c.id
        WHERE bc.bridge_info_id BETWEEN #{start} AND #{end} AND c.parent_id = #{id}
        group by c.id;
    </select>
    <select id="selectComponentNumberList" resultType="com.dicadut.soms.dto.ComponentNumberDTO">
        SELECT bc.id id,b.stake_or_truss_number number
        FROM system.t_bridge_info_component bc
                 INNER JOIN system.t_bridge_info b ON b.id=bc.bridge_info_id
        WHERE component_id=#{id} AND bc.bridge_info_id BETWEEN #{start} AND #{end}
        GROUP BY bc.bridge_info_id;
    </select>
    <select id="selectLocationList" resultType="com.dicadut.soms.dto.LineLocationDTO">
        SELECT DISTINCT CONCAT(main_or_approach,line) id,location
        FROM system.t_bridge_info b
        GROUP BY b.id;
    </select>
</mapper>
