<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dicadut.soms.mapper.ComponentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dicadut.soms.domain.Component">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="level" property="level"/>
        <result column="xpath" property="xpath"/>
        <result column="xname" property="xname"/>
        <result column="version" property="version"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectCount" resultType="java.lang.Integer">
        select count(*)
        from t_component
    </select>

    <select id="selectComponentAppList" resultType="com.dicadut.soms.domain.Component">
        select distinct c.*
        from t_task_bridge_component tbc
                     left join t_bridge_component bc on tbc.bridge_component_id = bc.id
                     left join t_component c on bc.component_id = c.id
        where task_id = #{taskId}
        ;
    </select>

    <select id="selectComponentPositionAppList" resultType="com.dicadut.soms.dto.ComponentPositionAppListDTO">
        SELECT
            b.stake_or_truss_number as position,
            b.id
        FROM t_task_bridge_component tbc
        LEFT JOIN t_bridge_component bc ON tbc.bridge_component_id = bc.id
        LEFT JOIN t_bridge b ON bc.bridge_id = b.id
        WHERE tbc.task_id = #{taskId}
          AND bc.component_id = #{componentId}
    </select>

</mapper>
