<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dicadut.soms.mapper.ComponentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dicadut.soms.domain.Component">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="level" property="level"/>
        <result column="xpath" property="xpath"/>
        <result column="xname" property="xname"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectCount" resultType="java.lang.Integer">
        select count(*)
        from system.component;
    </select>

    <select id="selectComponentAppList" resultType="com.dicadut.soms.dto.ComponentAppListDTO">
        select
               c.name,
               c.id
        from system.t_component c
        where
            (
            select count(1)
            from system.t_component i
            where i.parent_id = c.id
            ) = 0
          and c.xpath like '%${componentId}%';
    </select>

</mapper>
