<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dicadut.soms.mapper.DictionaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dicadut.soms.domain.Dictionary">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="type_name" property="typeName"/>
        <result column="code" property="code"/>
        <result column="code_name" property="codeName"/>
        <result column="display_order" property="displayOrder"/>
        <result column="state" property="state"/>
    </resultMap>

    <select id="selectCount" resultType="java.lang.Integer">
        select count(*)
        from system.t_dictionary;
    </select>

    <select id="selectCodeNameListByType" resultType="com.dicadut.soms.dto.TypeNameDTO">
        SELECT d.`code`,d.code_name
        FROM system.t_dictionary d
        where d.type = #{type}
        group by d.code;
    </select>

</mapper>
