<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dicadut.soms.mapper.DiseaseRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dicadut.soms.domain.DiseaseRecord">
        <id column="id" property="id" />
        <result column="task_id" property="taskId" />
        <result column="component_id" property="componentId" />
        <result column="bridge_id" property="bridgeId" />
        <result column="disease_id" property="diseaseId" />
        <result column="type" property="type" />
        <result column="disease_attribute_id" property="diseaseAttributeId" />
        <result column="content" property="content" />
        <result column="version" property="version"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectDiseaseRecordAppList" resultType="com.dicadut.soms.dto.DiseaseRecordAppListDTO">
        select
            dr.task_id,
            dr.bridge_id positionId,
            b.stake_or_truss_number position,
            dr.disease_id,
            d.name disease,
            dr.component_id,
            dr.order_number,
            dr.record_id
        from t_disease_record dr
        LEFT JOIN t_bridge b on dr.bridge_id = b.id
        LEFT JOIN t_disease d on dr.disease_id = d.id
        where (dr.task_id,dr.component_id) = (#{taskId},#{componentId})
          and dr.is_deleted = 0
        GROUP BY dr.record_id
    </select>

    <select id="selectDiseaseRecordDeleteList" resultType="com.dicadut.soms.domain.DiseaseRecord">
        SELECT
            *
        FROM soms.t_disease_record
        WHERE (task_id,record_id)=(#{taskId},#{recordId})
    </select>

    <select id="selectDiseaseList" resultType="com.dicadut.soms.dto.DiseaseDetailListDTO">
        SELECT
                da.`name`,
                dr.content,
                da.`value`,
                da.id disease_attribute_id,
                dr.type,
                da.unit
        from soms.t_disease_record dr
        left join soms.t_disease_attribute da on dr.disease_attribute_id = da.id
        where (dr.task_id,dr.record_id) = (#{taskId},#{recordId})
          and dr.is_deleted = 0
    </select>

    <select id="selectDiseaseAttributeList" resultType="com.dicadut.soms.dto.DiseaseDetailListDTO">
        select
                da.id diseaseAttributeId,
                da.`name`,
                da.type,
                da.`value`,
                da.unit
        from t_disease_attribute da
        where `group` in
              (
                    select
                            `group`
                    from t_disease_attribute
                    where id = #{diseaseAttributeId}
              );
    </select>

    <delete id="deleteDiseaseRecord">
        DELETE
        FROM soms.t_disease_record
        WHERE task_id = #{taskId}
          and record_id = #{recordId}
    </delete>

    <select id="selectDiseaseRecordTable" resultType="com.dicadut.soms.dto.DiseaseRecordTableListDTO">
        SELECT
                dr.task_id,
                b.location,
                replace(substring(substring_index(c.xpath, '/', 3), char_length(substring_index(c.xpath, '/', 3-1)) + 1), '/', '') parent_component_id,		-- 二级构件id
                replace(substring(substring_index(c.xname, '/', 3), char_length(substring_index(c.xname, '/', 3-1)) + 1), '/', '') parent_component,	-- 二级构件名称
                dr.component_id,
                c.`name` component,
                dr.bridge_id position_id,
                b.stake_or_truss_number position,
                dr.disease_id,
                d.`name` disease,
                dr.record_id,
                dr.order_number
        FROM soms.t_disease_record dr
                LEFT JOIN soms.t_bridge b on dr.bridge_id = b.id
                LEFT JOIN soms.t_component c on dr.component_id = c.id
                LEFT JOIN soms.t_disease d on dr.disease_id = d.id
        WHERE task_id = #{taskId}
            and dr.is_deleted = 0
        GROUP BY dr.task_id,dr.component_id,dr.bridge_id,dr.disease_id
    </select>
</mapper>
