<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dut.visualization.mapper.MonitoringMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dut.visualization.domain.MonitoringData">
        <id column="id" property="id"/>
        <result column="sensor_id" property="sensorId"/>
        <result column="x" property="x"/>
        <result column="y" property="y"/>
    </resultMap>

    <select id="selectMonitoringDataList" resultType="com.dut.visualization.dto.MonitoringDataDTO">
        SELECT
                s.id component_name,
                m.x,
                m.y
        FROM
                vis_sensor s LEFT JOIN vis_monitoring m on s.id = m.sensor_id
        WHERE
                s.model_code = #{sensorModelCode} AND s.is_deleted = 0
    </select>

    <select id="selectSensorStatusChartList" resultType="com.dut.visualization.dto.SensorStatusDTO">
        select
            s.online as name,
            count(s.id) as value
        from vis_sensor s
        where s.is_deleted = 0
        group by s.online
    </select>

    <select id="selectSensorAlarmChartList" resultType="com.dut.visualization.dto.SensorAlarmDTO">
        select
            s.alarm as name,
            count(s.id) as value
        from vis_sensor s
        where s.is_deleted = 0
        group by s.alarm
    </select>
</mapper>