<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dut.visualization.mapper.SpecificComponentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dut.visualization.domain.SpecificComponent">
        <id column="id" property="id"/>
        <result column="section_id" property="sectionId"/>
        <result column="station_id" property="stationId"/>
        <result column="component_id" property="componentId"/>
        <result column="component_name" property="componentName"/>
        <result column="component_code" property="modelCode"/>
        <result column="function" property="function"/>
        <result column="order_number" property="orderNumber"/>
        <result column="document" property="document"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectSpecificComponentInformation" resultType="com.dut.visualization.dto.SpecificComponentInformationDTO">
        select
                sc.component_name,
                sc.time,
                sc.construction_unit,
                sc.function
        from vis_specific_component sc
        where sc.model_code = #{componentModelCode}
    </select>

    <select id="selectSpecificTube" resultType="com.dut.visualization.dto.SpecificTubeDTO">
        SELECT
                id component_id,
                component_name
        FROM
                vis_specific_component
        WHERE
                is_tube = 1
    </select>

    <select id="selectView" resultType="com.dut.visualization.dto.CameraPositionDTO">
        SELECT
                view_x viewX,
                view_y viewY,
                view_z viewZ,
                look_at_x lookatX,
                look_at_y lookatY,
                look_at_z lookatZ
        FROM
                vis_view
        WHERE
                specific_component_id = #{specificComponentId}
    </select>
</mapper>