<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dicadut.soms.mapper.TaskBridgeComponentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dicadut.soms.domain.TaskBridgeComponent">
        <id column="id" property="id" />
        <result column="task_id" property="taskId" />
        <result column="bridge_component_id" property="bridgeComponentId" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <insert id="addTaskComponent" parameterType="java.util.ArrayList">
        INSERT INTO t_task_bridge_component
        (t_task_bridge_component.task_id,t_task_bridge_component.inspection_route,t_task_bridge_component.inspection_start,t_task_bridge_component.inspection_end,t_task_bridge_component.scan_position,t_task_bridge_component.bridge_component_id) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{taskId},#{subTaskVO.inspectionRoute},#{subTaskVO.inspectionStart},#{subTaskVO.inspectionEnd},#{subTaskVO.scanPosition},#{item})
        </foreach>
    </insert>

    <select id="getBridgeComponentList" resultType="com.dicadut.soms.dto.BridgeComponentTest">
        SELECT
                bc.bridge_id,
                bc.component_id,
                b.stake_or_truss_number,
                c.`name`
        FROM t_bridge_component bc
                     LEFT JOIN t_bridge b ON b.id = bc.bridge_id
                     LEFT JOIN t_component c ON c.id = bc.component_id
        WHERE 1 = 1
    </select>

    <update id="setName">
        UPDATE t_bridge_component bc
        SET `name` = #{str}
        WHERE bc.component_id = #{component} AND bc.bridge_id = #{bridge}
    </update>

    <select id="getBridgeComponentParentList" resultType="com.dicadut.soms.dto.BridgeComponentTest">
        SELECT
                bc.bridge_id,
                bc.component_id,
                c.parent_id

        FROM `t_bridge_component` bc
                     LEFT JOIN t_component c ON c.id = bc.component_id
    </select>

    <update id="setBridgePosition">
        UPDATE t_bridge_component bc
        SET `bridge_position` = #{str}
        WHERE bc.component_id = #{component} AND bc.bridge_id = #{bridge}
    </update>
</mapper>
