<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dicadut.soms.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dicadut.soms.domain.User">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="real_name" property="realName"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="head_img" property="headImg"/>
        <result column="department" property="department"/>
        <result column="duty" property="duty"/>
        <result column="salt" property="salt"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="version" property="version"/>
    </resultMap>

    <update id="updateUserStatus" parameterType="com.dicadut.soms.domain.User">
        UPDATE soms.t_user u
        SET u.status = #{userStatusGo}
        WHERE u.id = #{userId}
    </update>

    <select id="queryUserPermissionByName" resultType="com.dicadut.soms.dto.UserPermissionDTO">
        SELECT u.id,u.user_name,u.user_pass,u.head_img,r.role_id,r.role_name,p.permission_code,p.path
        FROM `t_user`u
                     LEFT JOIN t_user_role ur ON u.id = ur.user_id
                     LEFT JOIN t_role r ON r.role_id = ur.role_id
                     LEFT JOIN t_role_permission rp ON r.role_id = rp.role_id
                     LEFT JOIN t_permission p ON p.permission_id = rp.permission_id
        WHERE u.user_name = #{userId};
    </select>

    <select id="queryUserPermissionByMobile" resultType="com.dicadut.soms.dto.UserPermissionDTO">
        SELECT u.id,u.user_name,u.phone,u.user_pass,u.head_img,r.role_id,r.role_name,p.permission_code,p.path
        FROM `t_user`u
                     LEFT JOIN t_user_role ur ON u.id = ur.user_id
                     LEFT JOIN t_role r ON r.role_id = ur.role_id
                     LEFT JOIN t_role_permission rp ON r.role_id = rp.role_id
                     LEFT JOIN t_permission p ON p.permission_id = rp.permission_id
        WHERE u.phone = #{mobile};
    </select>
</mapper>